body {
    background: #f0f3f554;

}
.container_header {
    background: #000000;
    display: flex;
    align-items: center;
    gap: 70px;
    color: #FFF;
    height: 100px;
}
.graphics_bar {
    width: 930px;
    margin-top: 20px;
}
.graphics_line {
    width: 900px;
}
.container_message {
    display: flex;
    /* justify-content: right; */

}
.container_actions {
    display: flex;
    align-items: center;
    justify-self: left;
    gap: 800px;

}
.div_actions_button {
    justify-items: auto;
    margin: 0%;
}
.table tr th {
    width: 500px;
    height: 35px;
   background: rgb(207, 207, 216);
   border: #000 solid 1px;
}
.table tr td {
    height: 30px;
   background: #F5FFFA;
   border: #000 solid 1px;
}
.Link {
    color: blue;
}