body {
    background: rgb(236, 236, 241);
    margin: 0%;
    padding: 0%;

}
.container_header {
    background: #000000;
    display: flex;
    align-items: center;
    gap: 70px;
    color: #FFF;
    height: 100px;
}
.graphics_bar {
    width: 930px;
    margin-top: 20px;
}
.graphics_line {
    width: 900px;
}
.container_message {
    display: flex;
    /* justify-content: right; */

}
.container_actions {
    display: flex;
    height: 100px;
    align-items: center;
    justify-self: left;
    gap: 580px;
    font-size: 30px;
    border: #000 solid 2px;

}
.div_actions_button  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0%;
    gap: 10px;
}
.table tr th {
    width: 500px;
    height: 35px;
   background: rgb(207, 207, 216);
   border: #000 solid 1px;
}
.table tr td {
    height: 30px;
   background: #F5FFFA;
   border: #000 solid 1px;
}
.Link {
    color: blue;
}
.container_cadastro {
    display: flex;
    flex-direction: column;
    width: 930px;
    border:  1px solid  green;
    padding: 80px;
    margin:150px;
}
.cadastro_btn2 {
  background: blue;
}
.container_dados {
    display: flex;
    gap: 150px;
    border:  1px solid  blue;
    
}
.campo_cadastro {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 10px;
    margin: 20px;
    border: yellow solid 2px;
}
.campo_cadastro_textarea {
    display: flex;
    flex-direction: column;
    border: #F0F solid 2px;
   
}